/* Inserta tu codigo aqui */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.logo {
	width: 60%;
}

.menu {
	height: 20%;
 }

.link {
 	text-decoration: none;
 }

.linea {
 	border: 0.5px solid rgb(153, 152, 152);
	float: left;
	width: 0px;
	height: 25px;
 }

 .linea-comun {
 	margin-top: -25px;
	margin-left: 90px;
 }

.linea-blog {
	margin-top: -25px;
	margin-left: 75px;
 }

.margin {
 	padding-top: 3%;
 }

.banner {
	background-image: url("../img/semilla.jpg");
 	height: 80%;	
}

.frase {
	background-color: #F2F2F2;
	height: 40%;
}

.mision {
	height: 450px;
}

.texto-frase {
	margin-top: 0 !important;
	padding-top: 10%;
	color: #000;
}

.mision-margen {
	padding-top: 5%;
}

.mis-vis {
	margin-top: 5%;
}

.parrafo {
	color: #000;
	margin-top: 10px;
	margin-bottom: 20px;
}

.img-der {
	background-image: url("../img/fondo.jpg");
	height: 370px;
	padding-top: 10%;
}

.img-izq {
	background-image: url("../img/metodo.JPG");
	height: 370px;
}

.img-centro {
	width: 50% !important;
	margin: 0 !important;
}

.white {
	color: #FFF;
	margin: 5px;
}

#servicios {
	padding-bottom: 2%;
}

.verde-serv {
	color: #09631C;
}

.proyectos {
	background-color: #358B4D;
	padding-bottom: 2%;
}

.img-proyect {
	width: 90%;
}

.titulo-proyect {
	margin-bottom: 30px;
}

.foto-equipo {
	border-radius: 100%;
	height: 220px;
	width: 220px;
}

.equipo {
	padding-bottom: 2%;
}

.titulo-equipo {
	color: #195E2B;
}

.box-equipo {
	margin-top: 10px;
}

.subt-equipo {
	margin-top: 20px;
}

.icon-twitter {
	width: 30px;
	height: 30px;
}

.icon-lindkedin {
	height: 30px;
	width: 30px;
}

.icon-correo {
	height: 30px;
	width: 30px;
}

.bloque {
	display: inline-block;
	margin-left: 10px;
}

.blog{
	background-image: url("../img/fondo2.jpg");
	padding-bottom: 2%;
}

.titulo-blog {
	color: #000;
}

.gris h4, h5, p {
	color: #453C3C;
	line-height: 1 !important;
}

.verde {
	color: #3A5B19;
	line-height: 1 !important;
}

.align {
	margin-top: 10px;
	text-align: left;
}

.foto-blog img {
	width: 100%;
}

.foto-blog {
	height: 150px;
	overflow: hidden;
}

.slider-izq {
	margin-left: 30px;
	position: absolute;
	top: 50%;
	left: 0;
}

.slider-der {
	position: absolute;
	top: 50%;
	right: 0;
	margin-right: 30px;
}

.box-blog-izq {
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 5%;
}

.box-blog-med {
	margin-top: 10%;
	margin-right: 7%;
	margin-left: 7%;
}

.box-blog-der {
	margin-top: 10%;
	margin-right: 10%;
	margin-left: 5%;
}

.redes-sociales {
	background-color: #595252;
	height: 280px;
}

.tamaño {
	width: 25%;
	height: 150px;
}

.logo-icon {
	height: 35px;
	width: 35px;
}

.logo-icon-email {
	height: 30px;
	width: 40px;
}

.red {
	position: absolute;
	top: 0;
	margin: 15px;
}

.red-icon {
	position: absolute;
	top: 15px;
}

.mail {
	right: 120px;
}

.facebook {
	left: 240px;
}

.twitter {
	left: 430px;
}

.in {
	right: 300px;
}

div .center table {
	margin: 0 auto;
}

footer {
	padding-top: 60px;
	height: 150px;
}

.color-titulo {
	color: #F9A91A;
}

.der-footer {
	position: relative;
	right: 0;
	text-align: right;
}

.izq-footer {
	position: absolute;
	top: 0;
}

.izq-footer h6 {
	line-height: 1;
}